/* src/components/ItemListContainer.css */

.itemlist-section {
  padding-top: 120px;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemlist-title {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}

.itemlist-grid-wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

.itemlist-grid {
  display: flex;  /* Cambio a flex para mejor control */
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}


.item {
  background-color: #f8f8f8;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  text-align: center;
}
